body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top{
    background-color: crimson;
    margin-right: -20px;
}
ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: crimson;
    margin: auto;
    padding: 3px;

}
ul li{
    list-style: none;
    cursor: pointer;
    color: black;
}
.loupe{
    width: 1rem;
    height: 1rem;
    padding-top: ;
    
}
p{
    text-align: center;
}
#search{
    width: 40rem;
    height: 2rem;
    margin-bottom: 12px;
    margin-left: 17rem;
}

.searchBar{
    background-color: brown;
    margin: -17px;
}
.cart{
    width: 25px;
    height: 25px;
    margin-left: 4rem;
}
.userIcon{
    width: 25px;
    height: 25px;
    margin-left: 2rem;
}



ol{
    list-style: none;
    cursor: pointer;
}
li{
    margin: 30px;
}

#img1{
    width: 100px;
    height: 100px;
    background-color: black;
}
#img2{
    width: 100px;
    height: 100px;
    background-color: black;
}
#img3{
    width: 100px;
    height: 100px;
    background-color: black;
}
#img4{
    width: 100px;
    height: 100px;
    background-color: black;
}

.main{
    display: flex;
    justify-content:space-between ;
}

#rigthPoint{
    cursor: pointer;
}
#leftPoint{
    cursor: pointer;
  
}

#pation9{
    display: none;
    border-radius: 50px;
}
#pation10{
    display: none;
}
#pation11{
    display: none;
}
#pation6{
    display: none;
}
.center{
    background-color: red;   
}
   
#foto{
    width: 50rem;
    height: 25rem;
    border: 10px solid white;
    border-style: dotted;
}
#sideRigth{
    border: 1px solid black;
    box-shadow: 10px;
}
.lado{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}